body {
  display: flex;
  justify-content: space-around;
}

#board {
  width: 525px;
  height: 525px;
  background-color: powderblue;
  position: absolute;
}

.obstacle {
  width: 25px;
  height: 25px;
  background-color: black;
  position: absolute;
}

#player {
  width: 25px;
  height: 25px;
  background-color: pink;
  position: absolute;
  left: 0px;
  top: 0px;
}

#ghost1 {
  width: 25px;
  height: 25px;
  background-color: silver;
  position: absolute;
  left: 500px;
  top: 0px;
}

#ghost2 {
  width: 25px;
  height: 25px;
  background-color: silver;
  position: absolute;
  left: 500px;
  top: 500px;
}

#ghost3 {
  width: 25px;
  height: 25px;
  background-color: silver;
  position: absolute;
  left: 0px;
  top: 500px;
}
